html, body
{
    height: 100%;
    width: 100%;
}
#menu
{
    height: 100%;
    background-color: #222D32;
    width: 230px;
    position: fixed;
}

#menu a
{
    color: #b8c7ce;
}
#list
{
    background-color: #133d55;
    width: 100%;
    height: 100%;
    /*margin-left:230px;*!*/
    padding-left: 230px;
    color: white;
}

th, td
{
    border: solid 1px;
    padding: 5px;
}
